@model IEnumerable<ProyectoGestionTiendaAPP.Models.Tienda>

@{
    ViewBag.Title = "ListaTienda";
}

<h2>ListaTienda</h2>

<p>
    @Html.ActionLink("Crear Tienda", "CrearTienda")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ciudad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comuna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ciudad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comuna)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditarTienda", new { id = item.IdTienda }) |
            @Html.ActionLink("Detalle", "DetalleTienda", new { id = item.IdTienda }) |
            @Html.ActionLink("Eliminar", "BorrarTienda", new { id = item.IdTienda })
        </td>
    </tr>
}

</table>
